@font-face {
    font-family: 'WaltographRegular';
        src: url('/assets/fonts/waltograph-disney/915f4b1df4111a8e0d1c781ca6dfbf62/ab260a56f2b852b78f81eac337e0a2fc/WaltographRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'WaltographUIBold';
        src: url('/assets/fonts/waltograph-disney/915f4b1df4111a8e0d1c781ca6dfbf62/ef6f8e5937cde4dd88d6b51d1b023ed9/WaltographUIBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }




.waltograph {
	font-family: 'WaltographRegular';
    font-size: 55px;

}

.waltographBold {
	font-family: 'WaltographUIBold';
    font-size: 60px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #17364F;
}