* {
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
	background-color: slategray;
}


.box {
	display: block;
	background: #eee;
	max-width: 700px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 15px;
	box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.box button {
	display: block;
	color: whitesmoke;
	background-color: rgb(112, 128, 144);
	border: slategrey;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	max-width: 550px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.studio {
	width: 225px;
	margin: 40px auto 0 auto;
}

.studio option {
	text-align: center;
}


.year {
	width: 225px;
	margin: 40px auto 0 auto;
}

.year option {
	text-align: center;
}

.footnote {

	color: silver;
	text-align: center;
	margin-top: 85px;
}

.moviebox {
	display: block;
	background: #eee;
	width: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 15px;
	text-align: center;
	align-content: center;
	box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.genie {
	width: 250px;
	height: 137px;
	margin-top: 25px;
	margin-bottom: 50px;
}

.moviebox h3 {
	margin-top: 20px;
}

.coming-soon {
	width: 690px;
	margin: 100px auto 0 auto;
	text-align: center;
}

.countdown-box {
	display: block;
	max-width: 700px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-shadow:
		inset 0 -3em 3em rgba(0,0,0,0.1),
			0 0  0 2px rgb(255,255,255),
			s0.3em 0.3em 1em rgba(0,0,0,0.3);
	background-image: url(../static/mak_drink.jpg);
	background-size: cover;
	
	
}

.countdown {
	display: block;
	text-align: center;
	padding-top: 200px;
}

.countdown h1 {
	font-family: 'WaltographRegular';
	font-size: 10em;

}

.countdown img {
	padding-top: 75px;
	max-width: 625px;
}

