{% extends "base.html" %}

{% block content %}

<section id="block">
    <div class="container-lg my-2">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<section id="userInfo">
    <div class="row justify-content-center pt-4">
        <div class="col-6 col-md-3 text-center">
            <p class="display-6 text-light">
                ADMIN PAGE
            </p>
        </div>
    </div>
</section>

<section id="userContent">
    <div class="container-md bg-light rounded-3 border border-5 border-light">

        <div class="row">
            <div class="col-5">
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <!--favorite/dislike movie accordian-->
            <div class="col-10 col-md-6">
                <div class="accordion accordian-flush pt-5" id="accordionExample">
                    <div class="accordion-item bg-dark">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-secondary text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Users: {{ user_count }}
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-dark table-hover">
								<thead>
									<tr>
									  <th scope="col">ID</th>
									  <th scope="col">Username</th>
									  <th scope="col">Disney Trip Date</th>
									  <th scope="col"># of Logins</th>
									  <th scope="col">Last Login</th>
									</tr>
								  </thead>
                                {% for row in users %}
                                <tr>
                                    <td>{{ row.id }}</td>
									<td>{{ row.username }}</td>
									<td>{{ row.disney_date }}</td>
									<td>{{ row.num_logins }}</td>
									<td>{{ row.last_login }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item bg-dark">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button bg-secondary text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Feedback: {{ feedback_count }}
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-dark table-hover">
								<thead>
									<tr>
									  <th scope="col">ID</th>
									  <th scope="col">User_id</th>
									  <th scope="col">Message</th>
									  <th scope="col">Date</th>
									</tr>
								  </thead>
                                {% for row in feedback %}
                                <tr>
                                    <td>{{ row.id }}</td>
									<td>{{ row.user_id }}</td>
									<td>{{ row.message }}</td>
									<td>{{ row.date }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}