{% extends "base.html" %}

{% block content %}

<!--spacing block-->
<section id="block">
    <div class="container-lg my-2">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<!--username greeting-->
<section id="userInfo">
    <div class="row justify-content-center pt-4">
        <div class="col-6 col-md-3 text-center">
            <p class="display-6 text-light">
                {{ current_user.username | upper }}
            </p>
            <p class="small text-muted">
                Member since 2022
            </p>
        </div>
    </div>
</section>

<!--user account nav bar-->
<section id="userContent">
    <div class="container bg-light rounded-3 border border-5 border-light">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 pt-5">
                <ul class="nav nav-pills justify-content-center pb-1 border-bottom border-2">
                	<li class="nav-item small">
                    	<a class="nav-link small" href="../user_page/likes">Likes</a>
                    </li>
                    <li class="nav-item small">
                    	<a class="nav-link small" href="../user_page/dislikes">Dislikes</a>
                    </li>
                    <li class="nav-item small">
                    	<a class="nav-link small" href="../user_page/countdown">Countdown</a>
                    </li>
                    <li class="nav-item small">
                    	<a class="nav-link active small" href="#">Bucket List</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>

        <!--spacing block-->
    <div class="row">
        <div class="col">
        </div>
    </div>


	<!--bucket list logo-->
    <div class="container-md bg-light rounded-3 border border-5 border-light">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-6 text-center">
                <img src="/static/bucket_list.png" alt="" class="img-fluid mb-5">
            </div>
        </div>


		<!--Walt Disney World Attraction total-->
		<div class="row justify-content-center mb-5">
			<div class="col-8 col-md-8 text-center">
				<img src="/static/wdw_logo.png" alt="" class="img-fluid" id="wdw-logo">
			</div>
			<div class="col-10 col-md-5 align-items-center mt-2 mt-md-5 text-center">
				<div class="progress" style="height: 60px">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">{{ percent }}%</div>
				</div>
				<p class="small text-muted text-center">% of total Disney World attractions</p>
			</div>
		</div>

		<!--Magic Kingdom total-->
		<div class="row justify-content-center mt-5 border border border-bottom-dark align-items-center">
			<div class="col-6 col-md-4">
				<a href="/user_page/bucket_list/Magic Kingdom" class="btn">
				<img src="/static/mk_logo.png" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-6 col-md-4">
				<p class="display-3 text-center">
					{{ mk_user }} / {{ mk_total}}
				</p>
				<p class="small text-muted text-center mt-0">Attractions experienced</p>
			</div>
		</div>

		<!--Epcot total-->
		<div class="row justify-content-center mt-5 border border border-bottom-dark align-items-center">
			<div class="col-6 col-md-4">
				<a href="/user_page/bucket_list/Epcot" class="btn">
				<img src="/static/epcot_logo.webp" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-6 col-md-4">
				<p class="display-3 text-center">
					{{ ep_user }} / {{ ep_total}}
				</p>
				<p class="small text-muted text-center mt-0">Attractions experienced</p>
			</div>
		</div>

		<!--Hollywood Studios total-->
		<div class="row justify-content-center mt-5 border border border-bottom-dark align-items-center">
			<div class="col-6 col-md-4">
				<a href="/user_page/bucket_list/Hollywood Studios" class="btn">
				<img src="/static/hs_logo.gif" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-6 col-md-4">
				<p class="display-3 text-center">
					{{ hs_user }} / {{ hs_total}}
				</p>
				<p class="small text-muted text-center mt-0">Attractions experienced</p>
			</div>
		</div>

		<!--Animal Kingdom total-->
		<div class="row justify-content-center my-5 border border border-bottom-dark align-items-center">
			<div class="col-6 col-md-4">
				<a class="btn" href="/user_page/bucket_list/Animal Kingdom">
				<img src="/static/ak_logo.webp" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-6 col-md-4">
				<p class="display-3 text-center">
					{{ ak_user }} / {{ ak_total}}
				</p>
				<p class="small text-muted text-center mt-0">Attractions experienced</p>
			</div>
		</div>
	</div>
</section>

<div class="row py-5">
	<div class="col-12">
	</div>
</div>


{% endblock %}