{% extends "base.html" %}


{% block content %}


    <div class="box">
    <img src="../static/new_logo.png" class="logo">

    <div class="studio">
    <form action="/" method="POST">
        <select class="form-select" aria-label="studio" name="studio">
            <option selected>Pick a studio</option>
            <option value="Disney">Disney</option>
            <option value="Pixar">Pixar</option>
            <option value="Lucasfilm">Lucasfilm</option>
            <option value="Marvel">Marvel</option>
            <option value="Disney Channel">Disney Channel</option>
            <option value="No Preference">Random</option>
        </select>
    </div>

    <div class="year">
        <select class="form-select" aria-label="time period" name="time period">
            <option selected>Time period</option>
            <option value="2000-Today">2000 - Today</option>
            <option value="1980-1999">1980-1999</option>
            <option value="Pre-1980s">Pre-1980s</option>
            <option value="No Preference">Random</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Generate my movie</button>
    </form>
        <p class="footnote">James Autry | 2022</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}





