{% extends "base.html" %}

{% block nav %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/my_page">Account</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/countdown">Countdown</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-secondary" role="alert">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <div class="box">
    <img src="../static/dis_picker.png" class="logo">
            <br>
            <br>
            <input type="button" onclick="location.href = '/random-movie'" value="Random Movie" class="btn btn-primary btn-lg"/>
            <input type="button" onclick="location.href = '/studio'" value="I'm feeling picky" class="btn btn-primary btn-lg"/>
        <p class="footnote">James Autry | 2022</p>
        </div>
    </div>

{% endblock %}





