{% extends 'base.html' %}

{% block title %}
<meta name="description" content="Free all-in-one app for Disney fans! Get random Disney movie or select by studio, track your progress in riding every ride in Disney World, and countdown the days till your next Disney trip! Random Disney Marvel Star Wars Pixar Movie Generator">
<meta name="keywords" content="random disney movie generator, marvel movie picker, star wars movie generator, pixar movie generator, disney movie generator, disney plus movie generator, disney movie generator wheel, disney random movie generator, disney world rides list, disney world ride, epcot rides, magic kingdom rides, animal kingdom rides, hollywood studios rides, 2021, 2022, 2023">

<title>Dis Picker | Random Disney Movie Marvel, Star Wars, Pixar | Disney World Bucket List | Disney Trip Countdown</title>
{% endblock %}

{% block nav %}
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-lg">
		<a class="navbar-brand" href="/">
		<img src="/static/dp_logo.png" alt="" width="37.5" height="30">
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-link active" aria-current="page" href="/">Home</a>
		  {% if current_user.is_authenticated %}
		  <a class="nav-link" href="/user-page">Account</a>
		  {% else %}
		  <a class="nav-link" href="/login">Login / Sign-up</a>
		  {% endif %}
		  <a class="nav-link" href="/studio">Movie Picker</a>
		  <a href="/bucket-list" class="nav-link">Bucket List</a>
		  {% if current_user.is_authenticated %}
		  <a href="/logout" class="nav-link">Logout</a>
		  {% endif %}
		</div>
	  </div>
	</div>
</nav>
{% endblock %}


{% block content %}
<!--Title block-->
<section id="intro" class="mt-5">
    <div class="container-md bg-light rounded-3 border border-5 border-light py-3 py-md-0">
        <div class="row justify-content-evenly align-items-center ">
            <div class="col-10 col-md-4">
            <h1>
                <img src="/static/dis_picker.png" alt="dis picker logo" class="img-fluid">
            </h1>
            </div>
            <div class="col-md-4 my-5 text-center d-none d-md-block">
                <img class=img-fluid src="/static/Disney-Plus-Logo_supplied_1536x864-1024x576_1.jpeg" alt="Disney+ cover logo">
            </div>
        </div>
    </div>
</section>

<!--Application cards-->
<section id="app-features" class="container text-center">
	<div class="row pt-2 pt-md-5 justify-content-center">
		<div class="col-12 justify-content-center">
			<h2 class="display-3 text-lignt fw-bolder d-block d-md-none">
				Features:
			</h2>
			<h2 class="display-3 text-light fw-bolder">
				Dis Picker Features:
			</h2>
		</div>
	</div>
	<div class="row justify-content-center pt-4">
		<div class="col-10 justify-content-center">
			<p class="text-muted">
				Dis Picker includes three features: Disney+ Movie Picker, Disney World Bucket List, and Disney Trip Countdown. Read more about each below:
			</p>
		</div>
	</div>
	<!--Disney+ Movie Picker card-->
	<div class="row justify-content-evenly align-items-center mt-0 mt-md-5 pt-4">
		<div class="col-10 col-md-5 col-xl-3 d-block d-md-inline justify-content-center">
			<div class="card my-3" style="height: 25rem;">
				<img src="/static/new_dismovie.png" class="card-img-top img-fluid" alt="Disney Movie Picker logo">
				<div class="card-body ">
					<h1 class="card-title h4 my-2">Disney+ Movie Picker</h1>
					<p class="card-text text-muted">Get a random Disney movie including Pixar, Lucasfilm, Marvel, and Disney Channel!</p>
				</div>
				<div class="card-footer bg-transparent border-0 mb-5">
					<a href="/studio" class="btn btn-primary" style="width: 10rem;">Go</a>
				</div>
			  </div>
		</div>
		<!--Disney World Bucket List card-->
		<div class="col-10 col-md-5 col-xl-3 m-1 d-block d-md-inline">
			<div class="card my-3" style="height: 25rem;">
				<img src="/static/bucket_list_new.png" class="card-img-top img-fluid" alt="Disney Bucket List logo">
				<div class="card-body">
				  <h1 class="card-title h4 my-2">Disney World Bucket List</h1>
				  <p class="card-text text-muted">Check off your ridden attractions and complete your Disney bucket list!</p>
				</div>
				<div class="card-footer bg-transparent border-0 mb-5">
					<a href="/bucket-list" class="btn btn-primary" style="width: 10rem;">Go</a>
				</div>
			  </div>
		</div>
		<!--Disney Trip Countdown card-->
		<div class="col-10 col-md-5 col-xl-3 d-block d-md-inline">
			<div class="card my-3" style="height: 25rem;">
				<img src="/static/new_countdown.png" class="card-img-top img-fluid" href="/user-page/countdown" alt="Disney Trip Countdown logo">
				<div class="card-body">
				  <h1 class="card-title h4 my-2">Disney Trip Countdown</h1>
				  <p class="card-text text-muted">Have a Disney trip coming up? Count down the days here with your own countdown!</p>
				</div>
				<div class="card-footer bg-transparent border-0 mb-5">
					<a href="/countdown" class="btn btn-primary" style="width: 10rem;">Go</a>
				</div>
			  </div>
		</div>
	</div>
</section>

<!--Spacing block-->
<section id="block">
    <div class="container-lg my-5">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<div class="container">
    <footer class="pt-5 mt-5">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/user-page" class="nav-link px-2 text-muted">Account</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">James Autry | 2022</p>
    </footer>
</div>

{% endblock %}
