{% extends 'base.html' %}

{% block title %}
<title>Dis Picker | Random Disney Movie | Disney World Bucket List | Disney Trip Countdown</title>
{% endblock %}

{% block content %}
<!--Title block-->
<section id="intro" class="mt-5">
    <div class="container-md bg-light rounded-3 border border-5 border-light py-3 py-md-0">
        <div class="row justify-content-evenly align-items-center ">
            <div class="col-10 col-md-4">
            <h1>
                <img src="/static/dis_picker.png" alt="dis picker logo" class="img-fluid">
            </h1>
            </div>
            <div class="col-md-4 my-5 text-center d-none d-md-block">
                <img class=img-fluid src="/static/Disney-Plus-Logo_supplied_1536x864-1024x576_1.jpeg" alt="Disney+ cover logo">
            </div>
        </div>
    </div>
</section>

<!--Application cards-->
<section id="app-features" class="container text-center">
	<div class="row pt-2 pt-md-5 justify-content-center">
		<div class="col-12 justify-content-center">
			<h2 class="display-3 text-lignt fw-bolder d-block d-md-none">
				Features:
			</h2>
			<h2 class="display-3 text-light fw-bolder">
				Dis Picker Features:
			</h2>
		</div>
	</div>

	<div class="row justify-content-evenly align-items-center mt-5 pt-4">
		<div class="col-10 col-md-3 d-block d-md-inline justify-content-center">
			<div class="card my-3" style="width: 20rem; height: 25rem;">
				<img src="/static/new_dismovie.png" class="card-img-top img-fluid">
				<div class="card-body ">
					<h1 class="card-title h4 my-2">Disney+ Movie Picker</h1>
					<p class="card-text text-muted">Get a random Disney movie including movies from Pixar, Lucasfilm, Marvel, and Disney Channel!</p>
				</div>
				<div class="card-footer bg-transparent border-0 mb-2">
					<a href="/studio" class="btn btn-lg btn-primary" style="width: 10rem;">Go</a>
				</div>
			  </div>
		</div>
		<div class="col-10 col-md-3 m-1 d-block d-md-inline">
			<div class="card my-3" style="width: 20rem; height: 25rem;">
				<img src="/static/bucket_list_new.png" class="card-img-top img-fluid">
				<div class="card-body">
				  <h1 class="card-title h4 my-2">Disney World Bucket List</h1>
				  <p class="card-text text-muted">View all attractions in the 4 Walt Disney World Resort. Check off your ridden attractions and complete your Disney Bucket List!</p>
				</div>
				<div class="card-footer bg-transparent border-0 mb-2">
					<a href="/user_page/bucket_list" class="btn btn-lg btn-primary" style="width: 10rem;">Go</a>
				</div>
			  </div>
		</div>
		<div class="col-10 col-md-3 d-block d-md-inline">
			<div class="card my-3" style="width: 20rem; height: 25rem;">
				<img src="/static/new_countdown.png" class="card-img-top img-fluid">
				<div class="card-body" style="height: 15rem;">
				  <h1 class="card-title h4 my-2">Disney Trip Countdown</h1>
				  <p class="card-text text-muted">Have a Disney trip coming up? Count down the days here!</p>
				</div>
				<div class="card-footer bg-transparent border-0 mb-2">
					<a href="/user_page/countdown" class="btn btn-lg btn-primary" style="width: 10rem;">Go</a>
				</div>
			  </div>
		</div>
	</div>
</section>

<!--Spacing block-->
<section id="block">
    <div class="container-lg my-5">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<div class="container">
    <footer class="pt-5 mt-5">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/user_page" class="nav-link px-2 text-muted">Account</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">James Autry | 2022</p>
    </footer>
</div>

{% endblock %}
