{% extends 'base.html' %}

{% block title %}
<title>Dis Picker | Random Disney Movie | Disney World Bucket List</title>
{% endblock %}

{% block content %}
        <!--Title block-->
        <section id="intro" class="px-5 py-5">
            <div class="container-xl bg-light rounded-3 border border-5 border-light py-3 py-md-0">
                <div class="row justify-content-evenly align-items-center ">
                    <div class="col-md-4">
                    <h1>
                        <img src="/static/dis_picker.png" alt="" class="img-fluid">
                    </h1>
                    </div>
                    <div class="col-md-4 my-5 text-center d-none d-md-block">
                        <img class=img-fluid src="/static/Disney-Plus-Logo_supplied_1536x864-1024x576_1.jpeg" alt="ebook-cover">
                    </div>
                </div>
            </div>
        </section>

        <!--Movie Picker title-->
        <section id="movie-options" class="py-0 py-md-3">
            <div class="container-lg">
                <div class="row text-center justify-content-center align-items-center pt-md-3 pb-0 my-3 border-bottom border-3 border-secondary">
                    <h1 class="display-3 text-light fw-bolder mb-3">Movie Picker</h1>
                </div>
                <div class="row justify-content-center align-items-start mb-5">
                    <di class="col text-center">
                        <p class="display-6 fw-bolder text-light mb-0">295</p>
                        <p class="fw-lighter text-secondary">movies in catalog</p>
                    </di>
                    <di class="col text-center">
                        <p class="display-6 fw-bolder text-light mb-0">85</p>
                        <p class="fw-lighter text-secondary">years of stories</p>
                    </di> 
                    <di class="col text-center">
                        <p class="display-6 fw-bolder text-light mb-0">5</p>
                        <p class= "fw-lighter text-secondary">studios</p>
                    </di>  
                </div>

                <!--Random/Studio select buttons-->
                <div class="row justify-content-center align-items-center my-5">
                    <div class="col-10 col-md-5 py-2">
                        <div class="card bg-light border-0">
                            <div class="card-body text-center py-4">
                                <h4 class="card-title display-6">Random Movie</h4>
                                <p class="card-text mx-md-5 mt-2 text-muted d-non d-lg-block">Selects a movie from a random studio</p>
                                <a href="/random-movie" class="btn btn-outline-dark btn-lg mt-1">Random Studio</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-md-5 py-2">
                        <div class="card bg-light border-0">
                            <div class="card-body text-center py-4">
                                <h4 class="card-title display-6">Pick by Studio</h4>
                                <p class="card-text mx-md-5 mt-2 text-muted d-non d-lg-block">Selects a random movie from given studio</p>
                                <a href="/studio" class="btn btn-outline-dark btn-lg mt-1">Choose Studio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Account features-->
        <section id="account-features" class="px-3 my-5">
            <div class="container-lg bg-light rounded-3 border border-5 border-light pt-1 pt-md-5">
                <div class="row align-items-center justify-content-center my-5">
                    <div class="col-md-4 text-center mx-4">
                        <h1 class="display-4">Account Features</h1>
                        <a href="/register" class="btn btn-primary mt-3 mt-md-5 mb-5">Sign Up Now</a>
                    </div>

                    <div class="col-md-5">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">Disney Parks Bucket List</li>
                            <li class="list-group-item bg-light">Save favorite movies</li>
                            <li class="list-group-item bg-light">Disney Trip Countdown</li>
                            <li class="list-group-item bg-light fw-bold">Upcoming:</li>
                            
                            <li class="list-group-item bg-light text-muted">Track progress vs total Disney catalog or individual studio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--Spacing block-->
        <section id="block">
            <div class="container-lg my-5">
                <div class="row">
                    <div class="col">
                    </div>
                </div>
            </div>
        </section>

        <!--Footer-->
        <div class="container">
            <footer class="pt-5 mt-5">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/user_page" class="nav-link px-2 text-muted">Account</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
              </ul>
              <p class="text-center text-muted">James Autry | 2022</p>
            </footer>
        </div>

{% endblock %}
