{% extends "base.html" %}

{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="box">
        <h2>Login</h2>
        <br>
        <form action="" method="POST">
            <p>username<input type="text" name="username"/></p>
            <p>password<input type="password" name="password"/></p>
            <input type="submit" value="submit"/>
        </form>
        <br>
        <h6><a href="{{ url_for('register') }}">Don't have an account?</a></h6>
    </div>
</div>
{% endblock %}

