{% extends "base.html" %}

{% block title %}
<title>Random Disney Movie</title>
{% endblock %}

{% block content %}
<!--Movie poster-->
<section id="movie-poster" class="mt-5">
    <div class="container-md">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-md-4 col-lg-3 text-center">
            <h1>
                <img src="{{ result.poster }}" alt="" class="img-fluid rounded-3 shadow">
            </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <p class="small text-muted">Missing movie poster? <a href="/missing-poster/{{ id }}" class="small">Click here</a></p>
            </div>
        </div>
    </div>
</section>
<!--Movie info-->
<section id="movie-info" class="my-3">
    <div class="container-sm justify-content-center align-items-center text-light">
        <div class="row text-center">
            <div class="col-fluid">
                <h1 class="display-6 fw-bolder">
                    {{ result.title }}
                </h1>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-7 col-md-4">
            <table class="table table-dark table-hover">
                <tr>
                    <td class="text-center">Studio</td>
                    <td class="text-muted text-center">{{ result.studio }}</td>
                </tr>
                <tr>
                    <td class="text-center">Year</td>
                    <td class="text-muted text-center">{{ result.year }}</td>
                </tr>
                <tr>
                    <td class="text-center">Type</td>
                    <td class="text-muted text-center">{{ result.type }}</td>
                </tr>
                {% if result.phase %}
                <tr>
                    <td class="text-center">Marvel phase</td>
                    <td class="text-muted text-center">{{ result.phase }}</td>
                </tr>
                {% endif %}
              </table>
            </div>
        </div>
        <!--Like/dislike buttons-->
        <form method="POST">
            <div class="row mt-4 justify-content-evenly">
                    <div class="col-6 text-end">

                        {% if current_user.is_authenticated %}
                        <button class="btn btn-outline-danger btn-lg w-auto" type="Submit" name="submit_button" value="Dislike">
                            <i class="bi bi-hand-thumbs-down px-4 px-md-5"></i>
                        </button>
                        <div class="row justify-content-end">
                            <div class="col-7 col-md-4 mt-2">
                                <p class="small text-muted text-center">
                                    Removes from suggestions
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-start">
                        <button class="btn btn-outline-success btn-lg w-auto" type="Submit" name="submit_button" value="Favorite">
                            <i class="bi bi-hand-thumbs-up px-4 px-md-5"></i>
                        </button>

                        {% else %}

                        <button class="btn btn-outline-danger btn-lg w-auto disabled" type="Submit" name="submit_button" value="Dislike">
                            <i class="bi bi-hand-thumbs-down px-4 px-md-5"></i>
                        </button>
                    </div>
                    <div class="col-6 text-start">
                        <button class="btn btn-outline-success btn-lg w-auto disabled" type="Submit" name="submit_button" value="Favorite">
                            <i class="bi bi-hand-thumbs-up px-4 px-md-5"></i>
                        </button>
                    </div>
                    <div class="col-6 col-md-4 text-center mt-2">
                        <p class="text-muted small">
                            Login to like/dislike movies
                        </p>
                    </div>

                        {% endif %}
            </div>
        </form>
        <div class="row mt-3 justify-content-center">
            <div class="col-8 col-md-5 text-center">
                <a href="/#movie-options" class="btn btn-secondary btn">Back to Movie Picker</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}