{% extends "base.html" %}
{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
{% endblock %}

{% block content %}
    <div class="moviebox">
        <div class="container">
        <img src="{{ result.poster }}" class="img-fluid">
        </div>
        <h1>{{ result.title }} </h1>
        <p>{{ result.year }}</p>
        <p>{{ result.studio }}</p>
        <p>{{ result.category }}</p>
        <p>{{ result.type }}</p>
        {% if result.phase %}
        <p>Phase: {{ result.phase }}</p>
        {% endif %}
        <br>
        <form method="POST">
        <input type="Submit" name="submit_button" value="Dislike">
        <input type="Submit" name="submit_button" value="Favorite">
        </form>
        <br>
        <a href="/"><button>Back to Search</button></a>
    </div>

{% endblock %}