{% extends "base.html" %}

{% block title %}
<meta name="keywords" content="Disney World Ride List, disney world attraction list, disney world tracker, {{park}} rides, {{park}} attractions">
<meta name="">

<title>{{ park }} Ride List | Attraction Tracker | Bucket List</title>
{% endblock %}

{% block nav %}
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-lg">
		<a class="navbar-brand" href="/">
		<img src="/static/dp_logo.png" alt="" width="37.5" height="30">
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-link" aria-current="page" href="/">Home</a>
		  {% if current_user.is_authenticated %}
		  <a class="nav-link" href="/user-page">Account</a>
		  {% else %}
		  <a class="nav-link" href="/login">Login / Sign-up</a>
		  {% endif %}
		  <a class="nav-link" href="/studio">Movie Picker</a>
		  <a href="/bucket-list" class="nav-link active">Bucket List</a>
		  {% if current_user.is_authenticated %}
		  <a href="/logout" class="nav-link">Logout</a>
		  {% endif %}
		</div>
	  </div>
	</div>
</nav>
{% endblock %}

{% block content %}

<!--spacing block-->
<section id="block">
    <div class="container-lg my-2">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<!--bucket list logo-->
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-8 col-md-5 text-center">
            <div class="container bg-light bg-gradient rounded-3 border border-5 border-light">
                <img src="/static/bucket_list_new.png" alt="Disney Bucket List logo" class="img-fluid">
                <h1 class="d-none">{{park}} Ride List</h1>
            </div>
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}

<section id="userContent">
    <div class="container-md">
		<!--back to bucket list-->
	    <div class="row justify-content-center mt-3">
		    <div class="col-12 col-md-6 text-center">
			    <a href="/bucket-list#wdw-logo" class="btn"><button class="btn btn-secondary">Back to Park Select</button></a>
		    </div>
	    </div>
 	</div>

	<!--Magic Kingdom total-->
	<div class="row justify-content-center my-5 border border border-bottom-dark align-items-center">
		<div class="col-7 col-md-6 text-center">
			<a href="#" class="btn">
			<img src="{{ image }}" alt="" class="img-fluid">
			</a>
		</div>
		<div class="col-5 col-md-3 text-center text-md-start">
			<p class="display-6 text-light pt-2">
				{{ user_count }} / {{ attraction_count }}
			</p>
			<p class="small text-muted mt-0">Attractions experienced</p>
		</div>
	</div>
</section>

<section>
    <div class="row justify-content-center my-4">
        <div class="col-10 col-md-5">
            <p class="small text-muted text-center fw-bold"><i class="bi bi-info-circle"></i>  Click red X to mark attraction as visited</p>
        </div>
    </div>

    <!--park attractions list-->
    <div class="row justify-content-center mb-5">
        <div class="col-11 col-md-8">
            <table class="table table-dark table-hover">
                <thead>
                    <tr id="ride-selection" class="text-center">
                        <th scope="col">Attraction</th>
                      <th scope="col">Land</th>
                      <th scope="col">Ridden?</th>
                    </tr>
                  </thead>
                {% for row in attractions %}
                <tr>
                    <td><p class="small text-light text-start"><a href="{{ row.dis_link }}" class="btn text-light text-start">{{ row.attraction }}</a></p></td>
                    <td  class="text-center"><p class="small">{{ row.land }}</p></td>
                    {% if row.id in user_lst %}
                    <td class="text-center"><a href="/remove-attraction/{{ row.park }}/{{ row.id }}" class="btn"><i class="bi bi-check-circle-fill text-success"></i></a></td>
                    {% else %}
                    <td class="text-center"><a href="/add-attraction/{{ row.park }}/{{ row.id }}" class="btn"><i class="bi bi-x-lg text-danger"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</section>

{% else %}

<section id="userContent">
    <div class="container-md">
		<!--back to bucket list-->
	    <div class="row justify-content-center mt-3">
		    <div class="col-12 col-md-6 text-center">
			    <a href="/bucket-list#wdw-logo" class="btn"><button class="btn btn-secondary">Back to Park Select</button></a>
		    </div>
            <div class="col-10 text-center">
                <a href="/login" class="btn">
                    <p class="text-center text-muted"><a href="/login">Login</a> to save visited attractions!</p>
                </a>
            </div>
	    </div>
 	</div>

	<!--Magic Kingdom total-->
	<div class="row justify-content-center my-5 border border border-bottom-dark align-items-center">
		<div class="col-7 col-md-6 text-center">
			<a href="#" class="btn">
			<img src="{{ image }}" alt="" class="img-fluid">
			</a>
		</div>
		<div class="col-5 col-md-3 text-center text-md-start">
			<p class="display-6 text-light pt-2">
				{{ attraction_count }}
			</p>
			<p class="small text-muted mt-0">Attractions</p>
		</div>
	</div>
</section>


<section>
    <div class="row justify-content-center my-4">
        <div class="col-10 col-md-5">
            <p class="small text-muted text-center fw-bold"><i class="bi bi-info-circle"></i>  Click on attraction name for more info</p>
        </div>
    </div>

    <!--park attractions list-->
    <div class="row justify-content-center mb-5">
        <div class="col-11 col-md-8">
            <table class="table table-dark table-hover">
                <thead>
                    <tr id="ride-selection" class="text-center">
                        <th scope="col">Attraction</th>
                      <th scope="col">Land</th>
                    </tr>
                  </thead>
                {% for row in attractions %}
                <tr>
                    <td><p class="small text-light text-center"><a href="{{ row.dis_link }}" class="btn text-light text-center">{{ row.attraction }}</a></p></td>
                    <td  class="text-center"><p class="small">{{ row.land }}</p></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</section>


{% endif %}

{% endblock %}
