{% extends "base.html" %}

{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center display-3">{{ current_user.username }}'s movie preferences:</h2>
    <br>
    <br>
    <div class="container-md">
        <p class="display-4 text-center">Favorited Movies</p>
        <table class="table table-dark table-hover">
            {% for row in favorite %}
            <tr>
                <td>{{ row.title }}</td>
                <td><button class="btn btn-sm btn-outline-danger" onclick="location.href = '/remove/{{row.movie_id}}'">Remove</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <br>
    <div class="container-md">
        <p class="display-4 text-center">Disliked Movies</p>
        <table class="table table-dark table-hover">
            {% for row in dislike %}
            <tr>
                <td>{{ row.title }}</td>
                <td><button class="btn btn-sm btn-outline-danger" onclick="location.href = '/restore/{{row.movie_id}}'">Remove</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <a href="/logout">Logout</a>
</div>
{% endblock %}