{% extends "base.html" %}

{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ current_user.username }}'s movie preferences:</h2>
    <h6>Click name to remove movie from lists</h6>
    <br>
    <div class="list-group">
        <th>Favorited Movies</th>
        {% for row in favorite %}
    <button type="Submit" onclick="location.href = '/remove/{{row.movie_id}}'" class="list-group-item list-group-item-action">
        {{ row.title }}</button>
        {% endfor %}
    </div>
    <br>
    <p>___________________________________________________________________</p>
    <div class="list-group">
        <th>Disliked Movies</th>
        {% for row in dislike %}
    <button type="Submit" onclick="location.href = '/restore/{{row.movie_id}}'" class="list-group-item list-group-item-action">
        {{ row.title }}</button>
        {% endfor %}
    </div>
    <br>
    <img src="{{ link }}"/>
    <a href="/logout">Logout</a>
</div>
{% endblock %}