{% extends "base.html" %}

{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ current_user.username }}'s current blocked movies:</h3>
    <br>
    {% if result %}
    <table>
        <tr><th>Title</th></tr>
        {% for movie in result %}
        <tr>
            <td>{{ movie[0] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>You have no disliked movies</p>
    {% endif %}
    <br>
    <img src="{{ link }}"/>
    <a href="/logout">Logout</a>
</div>
{% endblock %}