{% extends "base.html" %}

{% block title %}
<title>Create Free Account | Dis Picker</title>
{% endblock %}

{% block nav %}
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-lg">
		<a class="navbar-brand" href="/">
		<img src="/static/dp_logo.png" alt="" width="37.5" height="30">
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-link" aria-current="page" href="/">Home</a>
		  {% if current_user.is_authenticated %}
		  <a class="nav-link" href="/user_page">Account</a>
		  {% else %}
		  <a class="nav-link active" href="/login">Login / Sign-up</a>
		  {% endif %}
		  <a class="nav-link" href="/studio">Movie Picker</a>
		  <a href="/bucket_list" class="nav-link">Bucket List</a>
		  {% if current_user.is_authenticated %}
		  <a href="/logout" class="nav-link">Logout</a>
		  {% endif %}
		</div>
	  </div>
	</div>
</nav>
{% endblock %}

{% block content %}

<section id="sign-up" class="pt-5">
  <div class="container-lg justify-content-center">
      <div class="row text-center justify-content-center">
          <div class="col-12 col-md-5">
            	<form action="" method="POST" class="bg-light rounded-3 border border-5 border-light p-5">
                	<h1 class="display-6">Create an Account</h1>
                	<div class="form-group mt-5 px-4">
						<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>

					<div class="form-group my-3 px-4">
						<input type="text" class="form-control" id="username" name="username" placeholder="Username">
					</div>

					<div class="form-group my-3 px-4">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password">
					</div>
					
					<button type="submit" class="btn btn-primary mt-3">Sign-up</button>
              	</form>
          </div>
      </div>
  </div>
</section>
{% endblock %}