{% extends "base.html" %}
{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="studio-selections">
        <form method="POST">
            <button type="submit" name="studio_select" value="Disney"> <img src="../static/dis_studio.jpg" class="studio-collage"/></button>
            <button type="submit" name="studio_select" value="Pixar"> <img src="../static/pixar_studio.png" class="studio-collage"/></button>
            <button type="submit" name="studio_select" value="Lucasfilm"> <img src="../static/lucasfilm_studio.jpg" class="studio-collage"/></button>
            <button type="submit" name="studio_select" value="Marvel"> <img src="../static/marvel_studio.jpg" class="studio-collage"/></button>
            <button type="submit" name="studio_select" value="Disney Channel"> <img src="../static/dis_channel_studio.jpg" class="studio-collage"/></button>
        </form>
    </div>
</div>

{% endblock %}