{% extends "base.html" %}
{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="studio-selections">
        <div class="studio">
            <a href="/studio/Disney">Disney</a>
        </div>
        <div class="studio">
            <a href="/studio/Pixar">Pixar</a>
        </div>
        <div class="studio">
            <a href="/studio/Lucasfilm">Lucasfilm</a>
        </div>
        <div class="studio">
            <a href="/studio/Marvel">Marvel</a>
        </div>
        <div class="studio">
            <a href="/studio/Disney Channel">Disney Channel</a>
        </div>
    </div>
</div>

{% endblock %}