{% extends "base.html" %}
{% block nav %}
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/my_page">Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/countdown">Countdown</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="studio-selections">
            <a href="/studio/Disney"><img src="../static/dis_studio.jpg" class="studio-collage"></a>
            <a href="/studio/Pixar"><img src="../static/pixar_studio.png" class="studio-collage"></a>
            <a href="/studio/Lucasfilm"><img src="../static/lucasfilm_studio.jpg" class="studio-collage"></a>
            <a href="/studio/Marvel"><img src="../static/marvel_studio.jpg" class="studio-collage"></a>
            <a href="/studio/Disney Channel"><img src="../static/dis_channel_studio.jpg" class="studio-collage"></a>
    </div>
</div>

{% endblock %}