{% extends "base.html" %}

{% block content %}

<!--spacing block-->
<section id="block">
    <div class="container-lg my-2">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<!--username greeting-->
<section id="userInfo">
    <div class="row justify-content-center pt-4">
        <div class="col-6 col-md-3 text-center">
            <p class="display-6 text-light">
                {{ current_user.username | upper }}
            </p>
            <p class="small text-muted">
                Member since 2022
            </p>
        </div>
    </div>
</section>

<!--user account nav bar-->
<section id="userContent">
    <div class="container-md bg-light rounded-3 border border-5 border-light">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 pt-5">
                <ul class="nav nav-pills justify-content-center pb-1 border-bottom border-2">
                    <li class="nav-item small">
                      <a class="nav-link active small" aria-current="page" href="#">Likes</a>
                    </li>
                    <li class="nav-item small">
                      <a class="nav-link small" href="../user_page/dislikes">Dislikes</a>
                    </li>
                    <li class="nav-item small">
                      <a class="nav-link small" href="../user_page/countdown">Countdown</a>
                    </li>
                    <li class="nav-item small">
                      <a class="nav-link small" href="../user_page/bucket_list">Bucket List</a>
                    </li>
                  </ul>
            </div>
        </div>

        <!--random movie from favorites button-->
        <div class="row text-center justify-content-center mt-5">
            <div class="col-8 text-center">
                <a href="/random-faves/{{current_user.id}}" class="btn btn-sm btn-success">Random movie from Favorites</a>
            </div>
        </div>

        <!--spacing block-->
        <div class="row">
            <div class="col-5">
            </div>
        </div>

        <!--favorite movie accordian-->
        <div class="row justify-content-center mt-5 mt-md-3 mb-5">
            <div class="col-12 col-md-6">
                <div class="accordion accordian-flush" id="accordionExample">
                    <div class="accordion-item bg-dark">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-secondary text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Liked Movies
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-dark table-hover">
                                {% for row in favorite %}
                                <tr>
                                    <td>{{ row.title }}</td>
                                    <td><button class="btn btn-sm btn-outline-danger" onclick="location.href = '/remove/{{row.movie_id}}'">Remove</button></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}