{% extends "base.html" %}

{% block content %}

<section id="block">
    <div class="container-lg my-2">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<section id="userInfo">
    <div class="row justify-content-center pt-4">
        <div class="col-6 col-md-3 text-center">
            <p class="display-6 text-light">
                {{ current_user.username | upper }}
            </p>
            <p class="small text-muted">
                Member since 2022
            </p>
        </div>
    </div>
</section>

<section id="userContent">
    <div class="container-md bg-light rounded-3 border border-5 border-light">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 pt-3">
                <ul class="nav nav-pills justify-content-center pb-1 border-bottom border-2">
                    <li class="nav-item">
                      <a class="nav-link small" href="../user_page/likes">Likes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active small" href="#">Dislikes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled small">Countdown</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled small">Bucket List</a>
                    </li>
                  </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
            </div>
        </div>
        <div class="row justify-content-center mt-4 mt-md-5 mb-5">
            <!--favorite/dislike movie accordian-->
            <div class="col-10 col-md-6">
                <div class="accordion accordian-flush" id="accordionExample">
                    <div class="accordion-item bg-dark">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-secondary text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Disliked Movies
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-dark table-hover">
                                {% for row in dislike %}
                                <tr>
                                    <td>{{ row.title }}</td>
                                    <td><button class="btn btn-sm btn-outline-danger" onclick="location.href = '/remove/{{row.movie_id}}'">Remove</button></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}